NEXT_PUBLIC_SUPABASE_URL=https://xrjzgvneqjwjljjoxyxz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_po2WVcoHDCJ3AmaZL0QyvA_i0h1tNS0
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_EVENT_PHOTOS_BUCKET=event-photos
NEXT_PUBLIC_DEFAULT_EVENT_SLUG=